body {
    background-color: dodgerblue;
}

tbody {
    background-color: white;
}

.isComplete {
    text-decoration: line-through;
    background-color: dimgray;
}

#container {
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#tableMove {
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
}